html{
    background-color: rgb(0, 0, 32);
    }
body{
    color: white;
    font-family: sans-serif;
    align-content: center;
    text-align: center;
    display: inline-block;
    margin: 5rem 20rem;
    padding: 5rem 0rem 0rem 0rem;
  }
  header{
    opacity: 1;
    border-color: rgb(0, 37, 158);
    border-width: 0.3rem;
    border-radius: 1rem 1rem 0 0;
    border-style: solid solid none solid;
    padding: 5rem 0 5rem 0;
  }
  main{
    border-image: linear-gradient(rgb(0, 37, 158), aqua) 30;
    border-width: 0.3rem;
    border-style: solid;
    padding: 5rem 0;
  }
  .banner-content{
    background-image: url('./assets/images/banner.png');
    opacity:0.8;
  }
  a{
    color: aqua;
  }
  p{
    margin: 0.5rem 10rem 5rem 10rem;
    font-family: 'Roboto', sans-serif;
  }
  .uppercase{
    text-transform: uppercase;
    font-family:'Segoe UI' , sans-serif;
    font-style: bold;
    font-size: 3rem;
    color: rgb(48, 55, 255);
    margin: 0rem 10rem; 
  }
  .bold{
    font-style: bold;
  }
  #custom_buttom{
    border-color: rgb(8, 108, 238);
    border-style: double;
    border-width: 0.5rem;
    color: rgb(96, 207, 255);
    background-color: rgb(0, 0, 44);
    padding: 0.05rem 8.2rem;
    display: inline-block;
    font-size: 2rem;
    margin: 0.4rem 5rem;
    border-radius: 1rem;
  }
  #custom_button strong{
    margin: 3rem 0.5rem;
    padding: 0.8rem 1.6rem;
  }
  .module{
    border-color: azure;
    border-radius: 1rem;
    border-style: ridge;
    font-family: monospace;
    margin: 0.5rem 10rem;
    padding: 0.8rem;
  }
  #transform-world{
    background-image: url('./assets/images/woman-code.png');
    background-size: cover;
    background-position: 0.8rem;
    height: 15rem;
    margin: 2rem 3rem;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-style: oblique;
    font-size: 3rem;
    text-transform: lowercase;
  }
  #transform-world p{
    width: 30rem;
    margin: 0.3rem 3rem;
  }
  footer{
    background-image: linear-gradient(rgb(0, 0, 32), rgb(0, 44, 91));
    opacity: 1;
    border-color: aqua;
    border-style: none solid solid solid;
    border-radius: 0 0 1rem 1rem;
    border-width: 0.3rem;
    padding: 1rem 0 1rem 0;
  }
  footer p{
    margin: 0.2rem 0.2rem;
  }